* {
  list-style: none;
}
header {
  padding-bottom: 20px;
}
article {
  position: relative;
}
article > .img1 {
  width: 50px;
  height: 76px;
  position: absolute;
  background: url("../img/home/left1.png") no-repeat;
  background-size: contain;
  top: 50%;
  left: 50px;
  margin-top: -38px;
}
article > .img2 {
  width: 50px;
  height: 76px;
  position: absolute;
  background: url("../img/home/right1.png") no-repeat;
  background-size: contain;
  top: 50%;
  right: 50px;
  margin-top: -38px;
}
article > .img1:hover {
  background: url("../img/home/left2.png") no-repeat;
  background-size: contain;
}
article > .img2:hover {
  background: url("../img/home/right2.png") no-repeat;
  background-size: contain;
}
article > ul {
  margin: -4px;
  width: 100%;
  position: absolute;
}
article > ul > li {
  height: 8px;
  width: 387px;
  transition: 2s ease;
  position: relative;
  top: -97px;
  left: 0;
  z-index: 99;
}
.act {
  background-color: red;
}
.lunbo {
  width: 100%;
  margin-top: -38px;
  overflow: hidden;
}
.lunbo ul {
  display: flex;
  position: relative;
  left: -100vw;
}
.lunbo ul li h1 {
  position: relative;
  color: white;
  top: -200px;
  left: 120px;
  font-size: 42px;
}
.lunbo ul li p {
  font-size: 32px;
  position: relative;
  top: -180px;
  left: 120px;
  color: white;
}
.lunbo ul li img {
  width: 100vw;
  height: 760px;
}
.carlunbo {
  width: 100%;
  margin: -100px auto;
  position: relative;
  background: #f9fbed;
  margin-bottom: -163px;
}
.carlunbo h1 {
  width: 300px;
  margin: 10px auto;
  text-align: left;
  font-size: 36px;
}
.carlunbo > p {
  width: 300px;
  margin: 20px auto;
  color: #9f9d9b;
}
.carlunbo .car-lunbo {
  height: 120px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.carlunbo .car-lunbo > img {
  height: 120px;
  vertical-align: middle;
  opacity: 0.7;
  position: absolute;
  transition: 1s all ease-out;
  cursor: pointer;
}
.carlunbo .car-lunbo .p1 {
  transform: rotateY(30deg) translateX(5px) translateZ(20px);
  z-index: 1;
}
.carlunbo .car-lunbo .p2 {
  transform: rotateY(0deg) translateX(400px) translateZ(70px);
  opacity: 1;
  z-index: 2;
  color: black;
}
.carlunbo .car-lunbo .p3 {
  transform: rotateY(30deg) translateX(880px) translateZ(20px);
  z-index: 1;
}
.carlunbo .car-lunbo .p4 {
  transform: rotateY(40deg) translateX(880px) translateZ(-20px);
  z-index: -1;
}
.carlunbo .car-lunbo .p5 {
  transform: rotateY(40deg) translateX(5px) translateZ(-20px);
  z-index: -1;
}
.carlunbo > .img1 {
  width: 50px;
  height: 76px;
  position: absolute;
  background: url("../img/home/leftc1.png") no-repeat;
  background-size: contain;
  top: 50%;
  left: 50px;
  margin-top: -38px;
  cursor: pointer;
}
.carlunbo > .img2 {
  width: 50px;
  height: 76px;
  position: absolute;
  background: url("../img/home/rightc2.png") no-repeat;
  background-size: contain;
  top: 50%;
  right: 50px;
  margin-top: -38px;
  cursor: pointer;
}
.legend {
  border: 1px solid;
  border-radius: 5px;
  left: 160px;
  width: 180px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  margin: 30px 0;
}
.imgbg {
  width: 100%;
  position: relative;
}
.imgbg nav {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.imgbg nav h1 {
  position: relative;
  left: 20px;
  top: 165px;
  color: white;
  font-size: 20px;
  font-weight: 900;
}
.imgbg nav p {
  position: relative;
  left: 20px;
  top: 165px;
  color: white;
  font-size: 20px;
}
.imgbg nav .right2 {
  color: black;
  left: 400px;
  top: 124px;
  font-size: 32px;
  width: 150px;
}
.imgbg nav #left1 {
  width: 158px;
  height: 52px;
  position: relative;
  left: 20px;
  top: 156px;
  background: white;
  text-align: center;
  line-height: 52px;
  border-radius: 10px;
  font-size: 26px;
  border: 0;
  outline: none;
  cursor: pointer;
}
.imgbg nav #right1 {
  width: 130px;
  height: 52px;
  position: relative;
  left: 380px;
  top: 80px;
  background: transparent;
  text-align: center;
  line-height: 52px;
  border-radius: 10px;
  font-size: 26px;
  border: 1px solid;
  outline: none;
  cursor: pointer;
}
.imgbg nav img {
  width: 100%;
}
.story {
  background: #f9fbed;
  width: 100%;
  position: relative;
}
.story div {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.story div #car2 {
  width: 400px;
  height: 300px;
  border-radius: 50%;
  margin: 40px auto;
}
.story div #person {
  width: 300px;
  height: 400px;
  margin: 40px auto;
  border-radius: 50%;
}
.story div div {
  width: 402px;
  height: 300px;
  box-shadow: 1px 1px 70px 25px white inset;
  position: absolute;
  left: 316px;
  top: 40px;
  z-index: 10;
  border-radius: 50%;
}
.story div > .person {
  width: 302px;
  height: 402px;
  right: -334px;
  top: 39px;
}
.story > nav {
  width: 800px;
  margin: 0 auto;
}
.story > nav h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.story > nav p {
  color: #9f9d9b;
  font-size: 20px;
}
.buy {
  position: relative;
  width: 100%;
}
.buy > nav {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding-top: 111px;
}
.buy > nav img {
  width: 600px;
  height: 370px;
}
.buy pre {
  position: absolute;
  right: 295px;
  top: 120px;
  text-align: right;
  line-height: 30px;
}
.consult {
  width: 100%;
  background: #f9fbed;
}
.consult nav {
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.consult nav img {
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
}
.consult nav div {
  position: relative;
  top: 30%;
}
.consult input {
  position: relative;
  top: 160px;
  width: 253px;
  height: 60px;
  border: 3px solid;
  background: #f9fbed;
  border-radius: 5px;
  cursor: pointer;
}
.recommend {
  width: 100%;
}
.recommend .first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}
.recommend .first li:nth-of-type(1) {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background: url(../img/home/wei1.jpg) no-repeat;
  background-size: cover;
  margin: 150px 0 50px 0;
  display: flex;
  align-items: center;
}
.recommend .first li:nth-of-type(2) {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background: url(../img/home/wei2.jpg) no-repeat;
  background-size: cover;
  margin: 150px 0 50px 0;
  display: flex;
  align-items: center;
}
.recommend .first li:nth-of-type(3) {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background: url(../img/home/wei3.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.recommend .first li:nth-of-type(4) {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background: url(../img/home/wei4.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.recommend .first h1 {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 80px;
  font-size: 20px;
}
.adv {
  width: 100%;
}
.adv .second {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: 0 auto;
}
.adv .second li:nth-of-type(1) {
  width: 300px;
  height: 220px;
  border-radius: 10px;
  background: url(../img/home/wei-wb.jpg) no-repeat;
  background-size: cover;
  position: relative;
  margin: 60px 0 20px 0;
}
.adv .second li:nth-of-type(2) {
  width: 300px;
  height: 220px;
  border-radius: 10px;
  background: url(../img/home/xl.jpg) no-repeat;
  background-size: cover;
  position: relative;
  margin: 60px 0 20px 0;
}
.adv .second li:nth-of-type(3) {
  width: 300px;
  height: 220px;
  border-radius: 10px;
  background: url(../img/home/wei-wb.jpg) no-repeat;
  background-size: cover;
  position: relative;
  margin: 60px 0 20px 0;
}
.adv .second img {
  width: 100px;
  height: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.sox {
  width: 1000px;
  margin: 0 auto;
}
