* {
  margin: 0;
  padding: 0;
  list-style: none;
}
article {
  width: 100%;
  overflow: hidden;
  position: relative;
}
article ul {
  width: 400%;
  display: flex;
  position: relative;
  left: 0;
}
article ul li {
  width: 100%;
}
article ul li img {
  width: 100%;
}
article .left_move,
article .right_move {
  width: 50px;
  height: 94px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  z-index: 2;
}
article .right_move {
  right: 30px;
  background-image: url(../img/img1/right1.jpg);
  background-size: cover;
}
article .right_move:hover {
  background-image: url(../img/img1/right2.jpg);
}
article .left_move {
  left: 30px;
  background-image: url(../img/img1/left1.jpg);
  background-size: cover;
}
article .left_move:hover {
  background-image: url(../img/img1/left2.jpg);
}
article .yidong {
  width: 25%;
  height: 10px;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: -6px;
}
